* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
}

html, body {
	font-family: monospace;
}

ul#chat-log {
	border-bottom: 1px solid black;
	padding-left: 0;
	display: block;
	width: 100vw;
	height: calc(100vh - 70px);
	resize: none;
	overflow-y: auto;
}

ul#chat-log li {
	padding: 10px;
	border-bottom: 1px solid #afafaf;
}

ul#chat-log li pre {
	overflow-wrap: normal;
	word-wrap: break-word;
	hyphens: auto;
}

ul#chat-log li .username {
	font-weight: bold;
	margin-right: 10px;
}

ul#chat-log li.server-msg {
	background-color: #ddddff;
	color: #000055;
}

textarea#input {
	display: block;
	padding: 10px;
	height: 70px;
	width: 100vw;
	border: none;
	resize: none;
	background-color: #aaaaff3f;
}

textarea#input::placeholder {
	color: #0000aa;
}

button#send-msg {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #0000aa;
	background-color: #0000ff2c;
	color: #0000cc;
	cursor: pointer;
}

button#send-msg:active {
	background-color: #0000ff5c;
}

div.center {
	position: absolute;
	width: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

div.center h1 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
}

div.center p {
	position: relative;
	margin-bottom: 20px;
}

div.center p#error {
	color: red;
}

div.center input.login {
	position: absolute;
	right: 0;
	width: 300px;
}

button#login-btn {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 10em;
}
