* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
}

html, body {
	font-family: monospace;
}

ul#chat-log {
	border-bottom: 1px solid black;
	padding-left: 0;
	display: block;
	width: 100vw;
	height: calc(100vh - 70px);
	resize: none;
	overflow-y: auto;
}

ul#chat-log li {
	padding: 10px;
	border-bottom: 1px solid #afafaf;
}

ul#chat-log li .username {
	font-weight: bold;
	margin-right: 10px;
}

ul#chat-log li .server-username {
	font-weight: bold;
	font-style: italic;
	margin-right: 10px;
	color: #cc0000;
}

ul#chat-log li.server-msg {
	background-color: #ffdddd;
	color: #550000;
}

textarea#input {
	display: block;
	padding: 10px;
	height: 70px;
	width: 100vw;
	border: none;
	resize: none;
	background-color: #aaaaff3f;
}

textarea#input::placeholder {
	color: #0000aa;
}
